@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* PRE MADE */
.attribution { font-size: 11px; text-align: center; margin-top: 5%; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
    /* PRIMARY COLORS */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* NEUTRAL COLORS */
    --trasparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    --black: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    background-color: var(--very-light-gray);
}


.main-section{
    width: inherit;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-box{
    display: grid;
    grid-template-columns: repeat(3, 30.5rem);
    grid-template-rows: 50rem;
}

.column-border-box{
    height: 100%;
    margin: 4.5rem 6rem 4.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    gap: 4rem;
}

.column-border-box h1 {
    text-transform: uppercase;
    font-size: 3.2rem;
    color: var(--very-light-gray);
}

.column-border-box p{
    color: var(--trasparent-white-paragraphs);
    font-size: 1.5rem;
    line-height: 1.8;
}
.sedan{
    background-color: var(--bright-orange);
    border-radius: 1.5rem 0 0 1.5rem;
}

.sedan .column-btn{
    color: var(--bright-orange);
}

.suv {
    background-color: var(--dark-cyan);
}

.suv .column-btn{
    color: var(--dark-cyan);
}

.luxury{
    background-color: var(--very-dark-cyan);
    border-radius: 0 1.5rem  1.5rem 0;
}

.luxury .column-btn {
    color: var(--very-dark-cyan);
}

.column-btn{
    background-color: var(--very-light-gray);
    width: 15rem;
    height: 5rem;
    border-radius: 50rem;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 20%;
}

.column-btn:hover{
    background-color: transparent;
    color: var(--very-light-gray);
    border: var(--very-light-gray) 2px solid;
    cursor: pointer;
}

@media screen and (max-width: 400px){
    html{
        font-size: 50%;
    }

    .main-section{
        width: inherit;
        /* height: 100vh; */
        display: flex;
        justify-content: center;
        align-items: unset;
        margin: 3rem 0  55rem 0;
    }

    .component-box{
        grid-template-columns: 30.5rem;
        grid-template-rows: repeat(3, 45rem);
    }

    .column-border-box{
        gap: 2rem;
    }

    .sedan{
             border-radius: 1.5rem 1.5rem 0 0 ;
    }
    .luxury{
     
        border-radius: 0 0 1.5rem  1.5rem ;
    }

    .column-text{
        font-size: 1.8rem !important;
    }

    .column-btn{
        margin-top: 5%;
    }

    /* .footer{
        margin-top: 10%;
    } */
}
